$white-color:#fff;
$grey-color:#6a7273;
$dark-brown:#5a161d;
$light-brown:#834455;
$light-grey:#edeeee;
$zircon:#e6e7e7;
$dark-grey:#3b3b3b;
$blue-color:#1e2c77;
$light-yellow:#fefed9;
$red-color:#ce202e;